.Header {
    height: 80px;
    color: #ffffff;
    background-color: #59b2ff;
    margin-bottom: 40px;
    border-bottom: 2px solid #ffffff;
}

.Header-size {
    margin: auto;
    padding: 0 10px;
    height: 100%;
    max-width: 1300px;
    min-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-text {
    margin: 0;
    font-size: 3em;
}

.Header-correct {
    color: #b6ffb6;
}

.Header-incorrect {
    color: #ffacac;
}
