.Section {
    margin: auto;
    justify-content: space-evenly;
    max-width: 1400px;
    min-width: 720px;
    display: grid;
    grid-gap: 4% 0px;
    grid-template-columns: auto auto auto auto;
    font-size: calc(10px + 2vmin);
  }